# Propagation du COVID-19 en France 
## - Préparation des données -
`AROUI Khaoula`
<br><br>
Sommaire :
 - <a href="#p1"> Importation des bases des données brutes</a>
 - <a href="#p2"> Aperçu sur les bases de données brutes et préparation de chacune</a> 
 - <a href="#p2-1"> 1. Données sur la propagation du covid-19 </a>  
 - <a href="#p2-2"> 2. Données sur la couverture vaccinale </a>  
 - <a href="#p3"> Jointure des deux premières sources</a>
 - <a href="#p3-1"> 1. Vérification des valeurs manquantes et préparation des données d'analyse</a>
 - <a href="#p5"> Jointure avec les données des densités de population</a>

## <a name="#p1"> Importation des bases des données brutes</a>

In [374]:
# Importation des librairies requises
import pandas as pd
import os
import numpy as np
from datetime import datetime as dt

# Set the working directory
os.chdir('C:/Users/khaou/Documents/Master SEP/5- Analyse des données et data mining_GUATHERAT/projet individuel')
print(os.getcwd())# check the working directory is the right one

C:\Users\khaou\Documents\Master SEP\5- Analyse des données et data mining_GUATHERAT\projet individuel

In [375]:
pd.set_option('display.max_rows', None)
pd.set_option('display.width', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', -1)
pd.options.display.float_format = '{:,.4f}'.format

C:\Users\khaou\AppData\Local\Temp\ipykernel_11220\2067002790.py:4: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

In [376]:
# Données sur la propagation du covid-19
source_1 = pd.read_csv('./Data/rawdata/table-indicateurs-open-data-dep-serie.csv', low_memory=False)
# Données sur la couverture vaccinale par départements
source_2 = pd.read_csv('./Data/rawdata/vacsi-dep-2023-01-20-19h00.csv', sep=';', low_memory=False)
# Données démographiques de la population 
source_3 = pd.read_excel('./Data/rawdata/TCRD_021_modified.xlsx', sheet_name="DEP")
# Données démographiques de les superficie 
source_4 = pd.read_excel('./Data/rawdata/TCRD_021_modified.xlsx', sheet_name="superficie",  thousands=' ')
# Données sur les mesures de 10 avril ( apres 20 jours ou moins de la mise en place de restrictions de 20 jours) 
source_5 = pd.read_excel('./Data/rawdata/mesures_10_avril_2021.xlsx', sheet_name="Feuil2")

## <a name="#p2"> Aperçu sur les bases de données brutes et préparation de chacune</a>

### <a name="p2-1">Données sur la propagation du covid-19</a>
##### Ces données présentent la valeur quotidienne de ces 4 indicateurs au niveau national et départemental depuis le 15 mars 2020.

In [377]:
print(source_1.shape)
print(source_1.columns)
source_1.head()

(90395, 15)
Index(['extract_date', 'departement', 'region', 'libelle_reg', 'libelle_dep',
       'tx_incid', 'R', 'taux_occupation_sae', 'tx_pos', 'tx_incid_couleur',
       'R_couleur', 'taux_occupation_sae_couleur', 'tx_pos_couleur',
       'nb_orange', 'nb_rouge'],
      dtype='object')

,extract_date,departement,region,libelle_reg,libelle_dep,tx_incid,R,taux_occupation_sae,tx_pos,tx_incid_couleur,R_couleur,taux_occupation_sae_couleur,tx_pos_couleur,nb_orange,nb_rouge
0,2020-03-19,01,84,Auvergne Rhône Alpes,Ain,NaN,NaN,14.1000,NaN,NaN,NaN,vert,NaN,0,0
1,2020-03-18,01,84,Auvergne Rhône Alpes,Ain,NaN,NaN,6.3000,NaN,NaN,NaN,vert,NaN,0,0
2,2021-01-21,01,84,Auvergne Rhône Alpes,Ain,212.0400,NaN,71.6000,9.9600,rouge,NaN,rouge,orange,1,2
3,2021-01-22,01,84,Auvergne Rhône Alpes,Ain,212.3400,NaN,73.2000,9.8531,rouge,NaN,rouge,orange,1,2
4,2021-01-23,01,84,Auvergne Rhône Alpes,Ain,217.0600,NaN,71.4000,9.9616,rouge,NaN,rouge,orange,1,2

In [378]:
# Garder uniquement les variables d'interêt
columns_list=['extract_date','region', 'libelle_reg', 'departement', 'libelle_dep',
       'tx_incid', 'R', 'taux_occupation_sae', 'tx_pos', 'tx_incid_couleur',
       'R_couleur', 'taux_occupation_sae_couleur', 'tx_pos_couleur',
       'nb_orange', 'nb_rouge']
source_1=source_1[columns_list]

In [379]:
print(source_1.groupby(['region', 'libelle_reg']).size())
print(source_1.groupby(['departement', 'libelle_dep']).size())
print("la première date est :", source_1["extract_date"].min(), "est la dernière est : ", source_1["extract_date"].max())

region  libelle_reg
1       Guadeloupe                    895
2       Martinique                    895
3       Guyane                        895
4       La Réunion                    895
6       Mayotte                       895
11      Ile de France                 7160
24      Centre Val de Loire           5370
27      Bourgogne Franche Comté       7160
28      Normandie                     4475
32      Hauts de France               4475
44      Grand Est                     8950
52      Pays de Loire                 4475
53      Bretagne                      3580
75      Nouvelle Aquitaine            10740
76      Occitanie                     11635
84      Auvergne Rhône Alpes          10740
93      Provence Alpes Côte d'Azur    5370
94      Corse                         1790
dtype: int64
departement  libelle_dep
01           Ain                        895
02           Aisne                      895
03           Allier                     895
04           Alpes-de-Haute-Provence    895
05           Hautes-Alpes               895
06           Alpes-Maritimes            895
07           Ardèche                    895
08           Ardennes                   895
09           Ariège                     895
10           Aube                       895
11           Aude                       895
12           Aveyron                    895
13           Bouches-du-Rhône           895
14           Calvados                   895
15           Cantal                     895
16           Charente                   895
17           Charente-Maritime          895
18           Cher                       895
19           Corrèze                    895
21           Côte-d'Or                  895
22           Côtes-d'Armor              895
23           Creuse                     895
24           Dordogne                   895
25           Doubs                      895
26           Drôme                      895
27           Eure                       895
28           Eure-et-Loir               895
29           Finistère                  895
2A           Corse-du-Sud               895
2B           Haute-Corse                895
30           Gard                       895
31           Haute-Garonne              895
32           Gers                       895
33           Gironde                    895
34           Hérault                    895
35           Ille-et-Vilaine            895
36           Indre                      895
37           Indre-et-Loire             895
38           Isère                      895
39           Jura                       895
40           Landes                     895
41           Loir-et-Cher               895
42           Loire                      895
43           Haute-Loire                895
44           Loire-Atlantique           895
45           Loiret                     895
46           Lot                        895
47           Lot-et-Garonne             895
48           Lozère                     895
49           Maine-et-Loire             895
50           Manche                     895
51           Marne                      895
52           Haute-Marne                895
53           Mayenne                    895
54           Meurthe-et-Moselle         895
55           Meuse                      895
56           Morbihan                   895
57           Moselle                    895
58           Nièvre                     895
59           Nord                       895
60           Oise                       895
61           Orne                       895
62           Pas-de-Calais              895
63           Puy-de-Dôme                895
64           Pyrénées-Atlantiques       895
65           Hautes-Pyrénées            895
66           Pyrénées-Orientales        895
67           Bas-Rhin                   895
68           Haut-Rhin                  895
69           Rhône                      895
70           Haute-Saône                895
71           Saône-et-Loire             895
72           Sarthe                     895
73           Savoie                     895
74           Haute-Savoie               895
75           Paris                      895
76           Seine-Maritime             895
77           Seine-et-Marne             895
78           Yvelines                   895
79           Deux-Sèvres                895
80           Somme                      895
81           Tarn                       895
82           Tarn-et-Garonne            895
83           Var                        895
84           Vaucluse                   895
85           Vendée                     895
86           Vienne                     895
87           Haute-Vienne               895
88           Vosges                     895
89           Yonne                      895
90           Territoire de Belfort      895
91           Essonne                    895
92           Hauts-de-Seine             895
93           Seine-Saint-Denis          895
94           Val-de-Marne               895
95           Val-d'Oise                 895
971          Guadeloupe                 895
972          Martinique                 895
973          Guyane                     895
974          La Réunion                 895
976          Mayotte                    895
dtype: int64
la première date est : 2020-03-18 est la dernière est :  2022-08-29

In [380]:
#Vérifier les valeurs manquantes pour tous les colonnes
print("\n Valeurs manquantes :")
display(source_1.isnull().sum())
print('-'*20)
print('\n'*2)

 Valeurs manquantes :

extract_date                   0
region                         0
libelle_reg                    0
departement                    0
libelle_dep                    0
tx_incid                       16463
R                              79591
taux_occupation_sae            0
tx_pos                         17069
tx_incid_couleur               16463
R_couleur                      79591
taux_occupation_sae_couleur    0
tx_pos_couleur                 17069
nb_orange                      0
nb_rouge                       0
dtype: int64

--------------------

### <a name="p2-2">Données sur la couverture vaccinale</a>
##### Le gouvernement a présenté dans le cadre de la deuxième étape du plan de déconfinement, la carte de synthèse des départements qui sert de référence pour les mesures différenciées appliquées depuis le 2 juin. Cette carte est construite sur la base de 4 indicateurs et est complétée par une analyse de risques. Les indicateurs sont: Activité épidémique (taux d'incidence), Taux de positivité des tests virologiques, Facteur de reproduction du virus (évolution du R0), Tension hospitalière sur la capacité en réanimation

In [381]:
print(source_2.shape)
print("la premère date est :", source_2["jour"].min(), "est la dernière est : ", source_2["jour"].max())
print(source_2.columns)
source_2.head()

(77662, 20)
la premère date est : 2020-12-27 est la dernière est :  2023-01-19
Index(['dep', 'jour', 'n_dose1', 'n_complet', 'n_rappel', 'n_2_rappel',
       'n_rappel_biv', 'n_3_rappel', 'n_cum_dose1', 'n_cum_complet',
       'n_cum_rappel', 'n_cum_2_rappel', 'n_cum_rappel_biv', 'n_cum_3_rappel',
       'couv_dose1', 'couv_complet', 'couv_rappel', 'couv_2_rappel',
       'couv_rappel_biv', 'couv_3_rappel'],
      dtype='object')

,dep,jour,n_dose1,n_complet,n_rappel,n_2_rappel,n_rappel_biv,n_3_rappel,n_cum_dose1,n_cum_complet,n_cum_rappel,n_cum_2_rappel,n_cum_rappel_biv,n_cum_3_rappel,couv_dose1,couv_complet,couv_rappel,couv_2_rappel,couv_rappel_biv,couv_3_rappel
0,01,2020-12-27,0,0,0,0,0,0,0,0,0,0,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
1,01,2020-12-28,0,0,0,0,0,0,0,0,0,0,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2,01,2020-12-29,0,0,0,0,0,0,0,0,0,0,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
3,01,2020-12-30,0,0,0,0,0,0,0,0,0,0,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
4,01,2020-12-31,1,0,0,0,0,0,1,0,0,0,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000

In [382]:
# Garder uniquement les variables d'interêt
columns_list=['dep', 'jour', 'n_dose1', 'n_complet', 'n_rappel', 'n_2_rappel',
       'n_rappel_biv', 'n_3_rappel', 'n_cum_dose1', 'n_cum_complet',
       'n_cum_rappel', 'n_cum_2_rappel', 'n_cum_rappel_biv', 'n_cum_3_rappel',
       'couv_dose1', 'couv_complet', 'couv_rappel', 'couv_2_rappel',
       'couv_rappel_biv', 'couv_3_rappel']
source_2=source_2[columns_list]

In [383]:
#Vérifier les valeurs manquantes pour tous les colonnes
print("\n Valeurs manquantes :")
print('-'*20)
display(source_2.isnull().sum())
print('-'*20)
print('\n'*2)

 Valeurs manquantes :
--------------------

dep                 0
jour                0
n_dose1             0
n_complet           0
n_rappel            0
n_2_rappel          0
n_rappel_biv        0
n_3_rappel          0
n_cum_dose1         0
n_cum_complet       0
n_cum_rappel        0
n_cum_2_rappel      0
n_cum_rappel_biv    0
n_cum_3_rappel      0
couv_dose1          0
couv_complet        0
couv_rappel         0
couv_2_rappel       0
couv_rappel_biv     0
couv_3_rappel       0
dtype: int64

--------------------

### <a name="#p3"> Jointure des deux premières sources</a>

In [384]:
# Uniformiser les noms des variables servant comme clé de jointure
source_1.rename(columns={'extract_date': 'date'}, inplace=True)
source_2.rename(columns={'jour': 'date', 'dep': 'departement'}, inplace=True)

In [385]:
# faire la jointure de Source 1 et 2 par region et date
data=pd.merge(source_1, source_2, on=['date', 'departement'], how='inner')
print(data.shape)

(61711, 33)

### <a name="#p3-1"> 1. Vérification des valeurs manquantes et préparation des données d'analyse</a>

In [386]:
#Vérifier les valeurs manquantes pour tous les colonnes
print("\n Valeurs manquantes :")
print('-'*20)
display(data.isnull().sum())
print('-'*20)
print('\n'*2)
print(data.columns)

 Valeurs manquantes :
--------------------

date                           0
region                         0
libelle_reg                    0
departement                    0
libelle_dep                    0
tx_incid                       10807
R                              55754
taux_occupation_sae            0
tx_pos                         10807
tx_incid_couleur               10807
R_couleur                      55754
taux_occupation_sae_couleur    0
tx_pos_couleur                 10807
nb_orange                      0
nb_rouge                       0
n_dose1                        0
n_complet                      0
n_rappel                       0
n_2_rappel                     0
n_rappel_biv                   0
n_3_rappel                     0
n_cum_dose1                    0
n_cum_complet                  0
n_cum_rappel                   0
n_cum_2_rappel                 0
n_cum_rappel_biv               0
n_cum_3_rappel                 0
couv_dose1                     0
couv_complet                   0
couv_rappel                    0
couv_2_rappel                  0
couv_rappel_biv                0
couv_3_rappel                  0
dtype: int64

--------------------



Index(['date', 'region', 'libelle_reg', 'departement', 'libelle_dep',
       'tx_incid', 'R', 'taux_occupation_sae', 'tx_pos', 'tx_incid_couleur',
       'R_couleur', 'taux_occupation_sae_couleur', 'tx_pos_couleur',
       'nb_orange', 'nb_rouge', 'n_dose1', 'n_complet', 'n_rappel',
       'n_2_rappel', 'n_rappel_biv', 'n_3_rappel', 'n_cum_dose1',
       'n_cum_complet', 'n_cum_rappel', 'n_cum_2_rappel', 'n_cum_rappel_biv',
       'n_cum_3_rappel', 'couv_dose1', 'couv_complet', 'couv_rappel',
       'couv_2_rappel', 'couv_rappel_biv', 'couv_3_rappel'],
      dtype='object')

In [387]:
# Ne garder que les colonnes les plus pertinents pour répondre à la problématique 
columns_list=['date', 'region', 'libelle_reg', 'departement', 'libelle_dep',
       'tx_incid', 'R', 'taux_occupation_sae', 'tx_pos', 'tx_incid_couleur',
       'R_couleur', 'taux_occupation_sae_couleur', 'tx_pos_couleur',
       'nb_orange', 'nb_rouge', 'n_dose1', 'n_complet', 'n_rappel',
       'n_2_rappel', 'n_rappel_biv', 'n_3_rappel', 'n_cum_dose1',
       'n_cum_complet', 'n_cum_rappel', 'n_cum_2_rappel', 'n_cum_rappel_biv',
       'n_cum_3_rappel', 'couv_dose1', 'couv_complet', 'couv_rappel',
       'couv_2_rappel', 'couv_rappel_biv', 'couv_3_rappel']
data=data[columns_list]

# Renommer les colonnes
data.rename(columns={'date' : 'date', 'region' : 'region_N', 'libelle_reg' : 'Région', 'tx_incid' : "taux d'incidence", 'R' : 'Rouge'}, inplace=True)
print(data.columns)

Index(['date', 'region_N', 'Région', 'departement', 'libelle_dep',
       'taux d'incidence', 'Rouge', 'taux_occupation_sae', 'tx_pos',
       'tx_incid_couleur', 'R_couleur', 'taux_occupation_sae_couleur',
       'tx_pos_couleur', 'nb_orange', 'nb_rouge', 'n_dose1', 'n_complet',
       'n_rappel', 'n_2_rappel', 'n_rappel_biv', 'n_3_rappel', 'n_cum_dose1',
       'n_cum_complet', 'n_cum_rappel', 'n_cum_2_rappel', 'n_cum_rappel_biv',
       'n_cum_3_rappel', 'couv_dose1', 'couv_complet', 'couv_rappel',
       'couv_2_rappel', 'couv_rappel_biv', 'couv_3_rappel'],
      dtype='object')

In [388]:
print("la première date est :", data["date"].min(), "et la dernière est : ", data["date"].max())
print(data.shape)
data.head()

la première date est : 2020-12-27 et la dernière est :  2022-08-29
(61711, 33)

,date,region_N,Région,departement,libelle_dep,taux d'incidence,Rouge,taux_occupation_sae,tx_pos,tx_incid_couleur,R_couleur,taux_occupation_sae_couleur,tx_pos_couleur,nb_orange,nb_rouge,n_dose1,n_complet,n_rappel,n_2_rappel,n_rappel_biv,n_3_rappel,n_cum_dose1,n_cum_complet,n_cum_rappel,n_cum_2_rappel,n_cum_rappel_biv,n_cum_3_rappel,couv_dose1,couv_complet,couv_rappel,couv_2_rappel,couv_rappel_biv,couv_3_rappel
0,2021-01-21,84,Auvergne Rhône Alpes,01,Ain,212.0400,NaN,71.6000,9.9600,rouge,NaN,rouge,orange,1,2,1238,7,0,0,0,0,7378,27,0,0,0,0,1.1000,0.0000,0.0000,0.0000,0.0000,0.0000
1,2021-01-22,84,Auvergne Rhône Alpes,01,Ain,212.3400,NaN,73.2000,9.8531,rouge,NaN,rouge,orange,1,2,839,4,0,0,0,0,8217,31,0,0,0,0,1.2000,0.0000,0.0000,0.0000,0.0000,0.0000
2,2021-01-23,84,Auvergne Rhône Alpes,01,Ain,217.0600,NaN,71.4000,9.9616,rouge,NaN,rouge,orange,1,2,285,2,0,0,0,0,8502,33,0,0,0,0,1.3000,0.0000,0.0000,0.0000,0.0000,0.0000
3,2021-01-24,84,Auvergne Rhône Alpes,01,Ain,218.7400,NaN,73.2000,10.0293,rouge,NaN,rouge,rouge,0,3,73,2,0,0,0,0,8575,35,0,0,0,0,1.3000,0.0000,0.0000,0.0000,0.0000,0.0000
4,2021-01-25,84,Auvergne Rhône Alpes,01,Ain,225.1300,NaN,75.7000,10.0476,rouge,NaN,rouge,rouge,0,3,633,2,0,0,0,0,9208,37,0,0,0,0,1.4000,0.0000,0.0000,0.0000,0.0000,0.0000

### <a name="#p5"> Jointure avec les données sur la population le sexe et l'age de la population</a>

In [401]:
print(source_3.columns)
# faire la jointure avec la source 3
data2=pd.merge(data, source_3, on=['departement', 'libelle_dep'], how='inner')
print(data2.shape)
data.head()

Index(['departement', 'libelle_dep', 'Ensemble', 'Part des femmes (en %)',
       'Part des hommes (en %)', 'Part des 0 à 24 ans (en %)',
       'Part des 25 à 59 ans (en %)', 'Part des 60 ans ou plus (en %)',
       'dont part des 75 ans ou plus (en %)'],
      dtype='object')
(58656, 40)

,date,region_N,Région,departement,libelle_dep,taux d'incidence,Rouge,taux_occupation_sae,tx_pos,tx_incid_couleur,R_couleur,taux_occupation_sae_couleur,tx_pos_couleur,nb_orange,nb_rouge,n_dose1,n_complet,n_rappel,n_2_rappel,n_rappel_biv,n_3_rappel,n_cum_dose1,n_cum_complet,n_cum_rappel,n_cum_2_rappel,n_cum_rappel_biv,n_cum_3_rappel,couv_dose1,couv_complet,couv_rappel,couv_2_rappel,couv_rappel_biv,couv_3_rappel
0,2021-01-21,84,Auvergne Rhône Alpes,01,Ain,212.0400,NaN,71.6000,9.9600,rouge,NaN,rouge,orange,1,2,1238,7,0,0,0,0,7378,27,0,0,0,0,1.1000,0.0000,0.0000,0.0000,0.0000,0.0000
1,2021-01-22,84,Auvergne Rhône Alpes,01,Ain,212.3400,NaN,73.2000,9.8531,rouge,NaN,rouge,orange,1,2,839,4,0,0,0,0,8217,31,0,0,0,0,1.2000,0.0000,0.0000,0.0000,0.0000,0.0000
2,2021-01-23,84,Auvergne Rhône Alpes,01,Ain,217.0600,NaN,71.4000,9.9616,rouge,NaN,rouge,orange,1,2,285,2,0,0,0,0,8502,33,0,0,0,0,1.3000,0.0000,0.0000,0.0000,0.0000,0.0000
3,2021-01-24,84,Auvergne Rhône Alpes,01,Ain,218.7400,NaN,73.2000,10.0293,rouge,NaN,rouge,rouge,0,3,73,2,0,0,0,0,8575,35,0,0,0,0,1.3000,0.0000,0.0000,0.0000,0.0000,0.0000
4,2021-01-25,84,Auvergne Rhône Alpes,01,Ain,225.1300,NaN,75.7000,10.0476,rouge,NaN,rouge,rouge,0,3,633,2,0,0,0,0,9208,37,0,0,0,0,1.4000,0.0000,0.0000,0.0000,0.0000,0.0000

### <a name="#p5"> Jointure avec les données sur la superficie des départements</a>

In [403]:
print(source_4.columns)
# faire la jointure avec la source 3
data3=pd.merge(data2, source_4, on=['libelle_dep'], how='inner')
print(data3.shape)
data3.head()

Index(['departement', 'libelle_dep', 'Superficie'], dtype='object')
(58656, 42)

,date,region_N,Région,departement_x,libelle_dep,taux d'incidence,Rouge,taux_occupation_sae,tx_pos,tx_incid_couleur,R_couleur,taux_occupation_sae_couleur,tx_pos_couleur,nb_orange,nb_rouge,n_dose1,n_complet,n_rappel,n_2_rappel,n_rappel_biv,n_3_rappel,n_cum_dose1,n_cum_complet,n_cum_rappel,n_cum_2_rappel,n_cum_rappel_biv,n_cum_3_rappel,couv_dose1,couv_complet,couv_rappel,couv_2_rappel,couv_rappel_biv,couv_3_rappel,Ensemble,Part des femmes (en %),Part des hommes (en %),Part des 0 à 24 ans (en %),Part des 25 à 59 ans (en %),Part des 60 ans ou plus (en %),dont part des 75 ans ou plus (en %),departement_y,Superficie
0,2021-01-21,84,Auvergne Rhône Alpes,01,Ain,212.0400,NaN,71.6000,9.9600,rouge,NaN,rouge,orange,1,2,1238,7,0,0,0,0,7378,27,0,0,0,0,1.1000,0.0000,0.0000,0.0000,0.0000,0.0000,662244,50.7000,49.3000,30.1000,45.5000,24.4000,8.4000,01,"5,762.4000"
1,2021-01-22,84,Auvergne Rhône Alpes,01,Ain,212.3400,NaN,73.2000,9.8531,rouge,NaN,rouge,orange,1,2,839,4,0,0,0,0,8217,31,0,0,0,0,1.2000,0.0000,0.0000,0.0000,0.0000,0.0000,662244,50.7000,49.3000,30.1000,45.5000,24.4000,8.4000,01,"5,762.4000"
2,2021-01-23,84,Auvergne Rhône Alpes,01,Ain,217.0600,NaN,71.4000,9.9616,rouge,NaN,rouge,orange,1,2,285,2,0,0,0,0,8502,33,0,0,0,0,1.3000,0.0000,0.0000,0.0000,0.0000,0.0000,662244,50.7000,49.3000,30.1000,45.5000,24.4000,8.4000,01,"5,762.4000"
3,2021-01-24,84,Auvergne Rhône Alpes,01,Ain,218.7400,NaN,73.2000,10.0293,rouge,NaN,rouge,rouge,0,3,73,2,0,0,0,0,8575,35,0,0,0,0,1.3000,0.0000,0.0000,0.0000,0.0000,0.0000,662244,50.7000,49.3000,30.1000,45.5000,24.4000,8.4000,01,"5,762.4000"
4,2021-01-25,84,Auvergne Rhône Alpes,01,Ain,225.1300,NaN,75.7000,10.0476,rouge,NaN,rouge,rouge,0,3,633,2,0,0,0,0,9208,37,0,0,0,0,1.4000,0.0000,0.0000,0.0000,0.0000,0.0000,662244,50.7000,49.3000,30.1000,45.5000,24.4000,8.4000,01,"5,762.4000"

#### Création de la variable densité de population

In [404]:
data3["Superficie"] = pd.to_numeric(data3["Superficie"], downcast='float')
data3["Densité"]=data3['Ensemble']/data3['Superficie']

In [405]:
print(data3.dtypes)

date                                   object
region_N                               int64
Région                                 object
departement_x                          object
libelle_dep                            object
taux d'incidence                       float64
Rouge                                  float64
taux_occupation_sae                    float64
tx_pos                                 float64
tx_incid_couleur                       object
R_couleur                              object
taux_occupation_sae_couleur            object
tx_pos_couleur                         object
nb_orange                              int64
nb_rouge                               int64
n_dose1                                int64
n_complet                              int64
n_rappel                               int64
n_2_rappel                             int64
n_rappel_biv                           int64
n_3_rappel                             int64
n_cum_dose1                            int64
n_cum_complet                          int64
n_cum_rappel                           int64
n_cum_2_rappel                         int64
n_cum_rappel_biv                       int64
n_cum_3_rappel                         int64
couv_dose1                             float64
couv_complet                           float64
couv_rappel                            float64
couv_2_rappel                          float64
couv_rappel_biv                        float64
couv_3_rappel                          float64
Ensemble                               int64
Part des femmes (en %)                 float64
Part des hommes (en %)                 float64
Part des 0 à 24 ans (en %)             float64
Part des 25 à 59 ans (en %)            float64
Part des 60 ans ou plus (en %)         float64
dont part des 75 ans ou plus (en %)    float64
departement_y                          object
Superficie                             float32
Densité                                float64
dtype: object

In [406]:
#Vérifier les valeurs manquantes pour tous les colonnes
print("\n Valeurs manquantes :")
print('-'*20)
display(data3.isnull().sum())
print('-'*20)
print('\n'*2)
print(data3.columns)
data3.head()

 Valeurs manquantes :
--------------------

date                                   0
region_N                               0
Région                                 0
departement_x                          0
libelle_dep                            0
taux d'incidence                       10272
Rouge                                  52992
taux_occupation_sae                    0
tx_pos                                 10272
tx_incid_couleur                       10272
R_couleur                              52992
taux_occupation_sae_couleur            0
tx_pos_couleur                         10272
nb_orange                              0
nb_rouge                               0
n_dose1                                0
n_complet                              0
n_rappel                               0
n_2_rappel                             0
n_rappel_biv                           0
n_3_rappel                             0
n_cum_dose1                            0
n_cum_complet                          0
n_cum_rappel                           0
n_cum_2_rappel                         0
n_cum_rappel_biv                       0
n_cum_3_rappel                         0
couv_dose1                             0
couv_complet                           0
couv_rappel                            0
couv_2_rappel                          0
couv_rappel_biv                        0
couv_3_rappel                          0
Ensemble                               0
Part des femmes (en %)                 0
Part des hommes (en %)                 0
Part des 0 à 24 ans (en %)             0
Part des 25 à 59 ans (en %)            0
Part des 60 ans ou plus (en %)         0
dont part des 75 ans ou plus (en %)    0
departement_y                          0
Superficie                             0
Densité                                0
dtype: int64

--------------------



Index(['date', 'region_N', 'Région', 'departement_x', 'libelle_dep',
       'taux d'incidence', 'Rouge', 'taux_occupation_sae', 'tx_pos',
       'tx_incid_couleur', 'R_couleur', 'taux_occupation_sae_couleur',
       'tx_pos_couleur', 'nb_orange', 'nb_rouge', 'n_dose1', 'n_complet',
       'n_rappel', 'n_2_rappel', 'n_rappel_biv', 'n_3_rappel', 'n_cum_dose1',
       'n_cum_complet', 'n_cum_rappel', 'n_cum_2_rappel', 'n_cum_rappel_biv',
       'n_cum_3_rappel', 'couv_dose1', 'couv_complet', 'couv_rappel',
       'couv_2_rappel', 'couv_rappel_biv', 'couv_3_rappel', 'Ensemble',
       'Part des femmes (en %)', 'Part des hommes (en %)',
       'Part des 0 à 24 ans (en %)', 'Part des 25 à 59 ans (en %)',
       'Part des 60 ans ou plus (en %)', 'dont part des 75 ans ou plus (en %)',
       'departement_y', 'Superficie', 'Densité'],
      dtype='object')

,date,region_N,Région,departement_x,libelle_dep,taux d'incidence,Rouge,taux_occupation_sae,tx_pos,tx_incid_couleur,R_couleur,taux_occupation_sae_couleur,tx_pos_couleur,nb_orange,nb_rouge,n_dose1,n_complet,n_rappel,n_2_rappel,n_rappel_biv,n_3_rappel,n_cum_dose1,n_cum_complet,n_cum_rappel,n_cum_2_rappel,n_cum_rappel_biv,n_cum_3_rappel,couv_dose1,couv_complet,couv_rappel,couv_2_rappel,couv_rappel_biv,couv_3_rappel,Ensemble,Part des femmes (en %),Part des hommes (en %),Part des 0 à 24 ans (en %),Part des 25 à 59 ans (en %),Part des 60 ans ou plus (en %),dont part des 75 ans ou plus (en %),departement_y,Superficie,Densité
0,2021-01-21,84,Auvergne Rhône Alpes,01,Ain,212.0400,NaN,71.6000,9.9600,rouge,NaN,rouge,orange,1,2,1238,7,0,0,0,0,7378,27,0,0,0,0,1.1000,0.0000,0.0000,0.0000,0.0000,0.0000,662244,50.7000,49.3000,30.1000,45.5000,24.4000,8.4000,01,"5,762.3999",114.9250
1,2021-01-22,84,Auvergne Rhône Alpes,01,Ain,212.3400,NaN,73.2000,9.8531,rouge,NaN,rouge,orange,1,2,839,4,0,0,0,0,8217,31,0,0,0,0,1.2000,0.0000,0.0000,0.0000,0.0000,0.0000,662244,50.7000,49.3000,30.1000,45.5000,24.4000,8.4000,01,"5,762.3999",114.9250
2,2021-01-23,84,Auvergne Rhône Alpes,01,Ain,217.0600,NaN,71.4000,9.9616,rouge,NaN,rouge,orange,1,2,285,2,0,0,0,0,8502,33,0,0,0,0,1.3000,0.0000,0.0000,0.0000,0.0000,0.0000,662244,50.7000,49.3000,30.1000,45.5000,24.4000,8.4000,01,"5,762.3999",114.9250
3,2021-01-24,84,Auvergne Rhône Alpes,01,Ain,218.7400,NaN,73.2000,10.0293,rouge,NaN,rouge,rouge,0,3,73,2,0,0,0,0,8575,35,0,0,0,0,1.3000,0.0000,0.0000,0.0000,0.0000,0.0000,662244,50.7000,49.3000,30.1000,45.5000,24.4000,8.4000,01,"5,762.3999",114.9250
4,2021-01-25,84,Auvergne Rhône Alpes,01,Ain,225.1300,NaN,75.7000,10.0476,rouge,NaN,rouge,rouge,0,3,633,2,0,0,0,0,9208,37,0,0,0,0,1.4000,0.0000,0.0000,0.0000,0.0000,0.0000,662244,50.7000,49.3000,30.1000,45.5000,24.4000,8.4000,01,"5,762.3999",114.9250

### jointure avec les Données sur les mesures de 10 avril

In [407]:
print(source_5.columns)
# faire la jointure avec la source 3
data4=pd.merge(data3, source_5, on=['libelle_dep'], how='inner')
print(data4.shape)
data4.head()

Index(['departement', 'libelle_dep', 'Restrictions sanitaires renforcées'], dtype='object')
(58656, 45)

,date,region_N,Région,departement_x,libelle_dep,taux d'incidence,Rouge,taux_occupation_sae,tx_pos,tx_incid_couleur,R_couleur,taux_occupation_sae_couleur,tx_pos_couleur,nb_orange,nb_rouge,n_dose1,n_complet,n_rappel,n_2_rappel,n_rappel_biv,n_3_rappel,n_cum_dose1,n_cum_complet,n_cum_rappel,n_cum_2_rappel,n_cum_rappel_biv,n_cum_3_rappel,couv_dose1,couv_complet,couv_rappel,couv_2_rappel,couv_rappel_biv,couv_3_rappel,Ensemble,Part des femmes (en %),Part des hommes (en %),Part des 0 à 24 ans (en %),Part des 25 à 59 ans (en %),Part des 60 ans ou plus (en %),dont part des 75 ans ou plus (en %),departement_y,Superficie,Densité,departement,Restrictions sanitaires renforcées
0,2021-01-21,84,Auvergne Rhône Alpes,01,Ain,212.0400,NaN,71.6000,9.9600,rouge,NaN,rouge,orange,1,2,1238,7,0,0,0,0,7378,27,0,0,0,0,1.1000,0.0000,0.0000,0.0000,0.0000,0.0000,662244,50.7000,49.3000,30.1000,45.5000,24.4000,8.4000,01,"5,762.3999",114.9250,01,0
1,2021-01-22,84,Auvergne Rhône Alpes,01,Ain,212.3400,NaN,73.2000,9.8531,rouge,NaN,rouge,orange,1,2,839,4,0,0,0,0,8217,31,0,0,0,0,1.2000,0.0000,0.0000,0.0000,0.0000,0.0000,662244,50.7000,49.3000,30.1000,45.5000,24.4000,8.4000,01,"5,762.3999",114.9250,01,0
2,2021-01-23,84,Auvergne Rhône Alpes,01,Ain,217.0600,NaN,71.4000,9.9616,rouge,NaN,rouge,orange,1,2,285,2,0,0,0,0,8502,33,0,0,0,0,1.3000,0.0000,0.0000,0.0000,0.0000,0.0000,662244,50.7000,49.3000,30.1000,45.5000,24.4000,8.4000,01,"5,762.3999",114.9250,01,0
3,2021-01-24,84,Auvergne Rhône Alpes,01,Ain,218.7400,NaN,73.2000,10.0293,rouge,NaN,rouge,rouge,0,3,73,2,0,0,0,0,8575,35,0,0,0,0,1.3000,0.0000,0.0000,0.0000,0.0000,0.0000,662244,50.7000,49.3000,30.1000,45.5000,24.4000,8.4000,01,"5,762.3999",114.9250,01,0
4,2021-01-25,84,Auvergne Rhône Alpes,01,Ain,225.1300,NaN,75.7000,10.0476,rouge,NaN,rouge,rouge,0,3,633,2,0,0,0,0,9208,37,0,0,0,0,1.4000,0.0000,0.0000,0.0000,0.0000,0.0000,662244,50.7000,49.3000,30.1000,45.5000,24.4000,8.4000,01,"5,762.3999",114.9250,01,0

In [408]:
#Vérifier les valeurs manquantes pour tous les colonnes
print("\n Valeurs manquantes :")
print('-'*20)
display(data4.isnull().sum())
print('-'*20)
print('\n'*2)
print(data4.columns)

 Valeurs manquantes :
--------------------

date                                   0
region_N                               0
Région                                 0
departement_x                          0
libelle_dep                            0
taux d'incidence                       10272
Rouge                                  52992
taux_occupation_sae                    0
tx_pos                                 10272
tx_incid_couleur                       10272
R_couleur                              52992
taux_occupation_sae_couleur            0
tx_pos_couleur                         10272
nb_orange                              0
nb_rouge                               0
n_dose1                                0
n_complet                              0
n_rappel                               0
n_2_rappel                             0
n_rappel_biv                           0
n_3_rappel                             0
n_cum_dose1                            0
n_cum_complet                          0
n_cum_rappel                           0
n_cum_2_rappel                         0
n_cum_rappel_biv                       0
n_cum_3_rappel                         0
couv_dose1                             0
couv_complet                           0
couv_rappel                            0
couv_2_rappel                          0
couv_rappel_biv                        0
couv_3_rappel                          0
Ensemble                               0
Part des femmes (en %)                 0
Part des hommes (en %)                 0
Part des 0 à 24 ans (en %)             0
Part des 25 à 59 ans (en %)            0
Part des 60 ans ou plus (en %)         0
dont part des 75 ans ou plus (en %)    0
departement_y                          0
Superficie                             0
Densité                                0
departement                            0
Restrictions sanitaires renforcées     0
dtype: int64

--------------------



Index(['date', 'region_N', 'Région', 'departement_x', 'libelle_dep',
       'taux d'incidence', 'Rouge', 'taux_occupation_sae', 'tx_pos',
       'tx_incid_couleur', 'R_couleur', 'taux_occupation_sae_couleur',
       'tx_pos_couleur', 'nb_orange', 'nb_rouge', 'n_dose1', 'n_complet',
       'n_rappel', 'n_2_rappel', 'n_rappel_biv', 'n_3_rappel', 'n_cum_dose1',
       'n_cum_complet', 'n_cum_rappel', 'n_cum_2_rappel', 'n_cum_rappel_biv',
       'n_cum_3_rappel', 'couv_dose1', 'couv_complet', 'couv_rappel',
       'couv_2_rappel', 'couv_rappel_biv', 'couv_3_rappel', 'Ensemble',
       'Part des femmes (en %)', 'Part des hommes (en %)',
       'Part des 0 à 24 ans (en %)', 'Part des 25 à 59 ans (en %)',
       'Part des 60 ans ou plus (en %)', 'dont part des 75 ans ou plus (en %)',
       'departement_y', 'Superficie', 'Densité', 'departement',
       'Restrictions sanitaires renforcées'],
      dtype='object')

In [411]:
#selectionner les variables d'interet
columns_list=['date', 'region_N', 'Région', 'departement_x', 'libelle_dep',
       "taux d'incidence", 'taux_occupation_sae', 'tx_pos',
       'tx_incid_couleur', 'taux_occupation_sae_couleur',
       'tx_pos_couleur', 'nb_orange', 'nb_rouge', 'n_dose1', 'n_complet',
       'n_rappel', 'n_2_rappel', 'n_rappel_biv', 'n_3_rappel', 'n_cum_dose1',
       'n_cum_complet', 'n_cum_rappel', 'n_cum_2_rappel', 'n_cum_rappel_biv',
       'n_cum_3_rappel', 'couv_dose1', 'couv_complet', 'couv_rappel',
       'couv_2_rappel', 'couv_rappel_biv', 'couv_3_rappel', 'Ensemble',
       'Part des femmes (en %)', 'Part des hommes (en %)',
       'Part des 0 à 24 ans (en %)', 'Part des 25 à 59 ans (en %)',
       'Part des 60 ans ou plus (en %)', 'dont part des 75 ans ou plus (en %)',
       'Superficie', 'Densité', 'departement',
       'Restrictions sanitaires renforcées']
data4=data4[columns_list]

In [412]:
data4.to_csv(r'./Data/analysis_data/Final_data.csv', index=False,  encoding='utf-8-sig')

In [413]:
# data 10 avril 2021
data_10_avril=data4[data4.date=="2021-04-10"]
print(data_10_avril.shape)
# data 12 decembre 2021
data_12_dec=data4[data4.date=="2021-12-12"]
print(data_12_dec.shape)

#Vérifier les valeurs manquantes pour tous les colonnes
print("\n Valeurs manquantes :")
print('-'*20)
display(data_10_avril.isnull().sum())
print('-'*20)
print('\n'*2)


#Vérifier les valeurs manquantes pour tous les colonnes
print("\n Valeurs manquantes :")
print('-'*20)
display(data_12_dec.isnull().sum())
print('-'*20)
print('\n'*2)

(96, 42)
(96, 42)

 Valeurs manquantes :
--------------------

date                                   0
region_N                               0
Région                                 0
departement_x                          0
libelle_dep                            0
taux d'incidence                       0
taux_occupation_sae                    0
tx_pos                                 0
tx_incid_couleur                       0
taux_occupation_sae_couleur            0
tx_pos_couleur                         0
nb_orange                              0
nb_rouge                               0
n_dose1                                0
n_complet                              0
n_rappel                               0
n_2_rappel                             0
n_rappel_biv                           0
n_3_rappel                             0
n_cum_dose1                            0
n_cum_complet                          0
n_cum_rappel                           0
n_cum_2_rappel                         0
n_cum_rappel_biv                       0
n_cum_3_rappel                         0
couv_dose1                             0
couv_complet                           0
couv_rappel                            0
couv_2_rappel                          0
couv_rappel_biv                        0
couv_3_rappel                          0
Ensemble                               0
Part des femmes (en %)                 0
Part des hommes (en %)                 0
Part des 0 à 24 ans (en %)             0
Part des 25 à 59 ans (en %)            0
Part des 60 ans ou plus (en %)         0
dont part des 75 ans ou plus (en %)    0
Superficie                             0
Densité                                0
departement                            0
Restrictions sanitaires renforcées     0
dtype: int64

--------------------




 Valeurs manquantes :
--------------------

date                                   0
region_N                               0
Région                                 0
departement_x                          0
libelle_dep                            0
taux d'incidence                       0
taux_occupation_sae                    0
tx_pos                                 0
tx_incid_couleur                       0
taux_occupation_sae_couleur            0
tx_pos_couleur                         0
nb_orange                              0
nb_rouge                               0
n_dose1                                0
n_complet                              0
n_rappel                               0
n_2_rappel                             0
n_rappel_biv                           0
n_3_rappel                             0
n_cum_dose1                            0
n_cum_complet                          0
n_cum_rappel                           0
n_cum_2_rappel                         0
n_cum_rappel_biv                       0
n_cum_3_rappel                         0
couv_dose1                             0
couv_complet                           0
couv_rappel                            0
couv_2_rappel                          0
couv_rappel_biv                        0
couv_3_rappel                          0
Ensemble                               0
Part des femmes (en %)                 0
Part des hommes (en %)                 0
Part des 0 à 24 ans (en %)             0
Part des 25 à 59 ans (en %)            0
Part des 60 ans ou plus (en %)         0
dont part des 75 ans ou plus (en %)    0
Superficie                             0
Densité                                0
departement                            0
Restrictions sanitaires renforcées     0
dtype: int64

--------------------

In [414]:
## export 
data_10_avril.to_csv(r'./Data/analysis_data/data_10_avril.csv', index=False,  encoding='utf-8-sig')
data_12_dec.to_csv(r'./Data/analysis_data/data_12_dec.csv', index=False,  encoding='utf-8-sig')

In [415]:
## analyse :

In [342]:
## visualisations